@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@theme {
  --font-poppins: "Poppins", sans-serif;

  --spacing-horizontal: 80px;
  --spacing-vertical: 80px;
  --spacing-bottom: 60px;

  --color-border: "#333";
  --color-background: "oklch(0.984 0.019 200.873)";
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  animation: gradient-x 15s ease infinite;
  background-size: 400% 400%;
}
